@import url("https://fonts.googleapis.com/css?family=Architects+Daughter|Gloria+Hallelujah|Over+the+Rainbow");
/*
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Over the Rainbow', cursive;
*/
/* line 28, ../sass/style.scss */
body {
  background: #F4F3EF;
  font-family: "Architects Daughter", cursive;
}

/*
  Generic clases
*/
/* line 36, ../sass/style.scss */
.padding-50 {
  padding-top: 50px;
}

/* line 40, ../sass/style.scss */
.padding-40 {
  padding-top: 40px;
}

/*
  End Generic
*/
/*
  Logo
*/
/* line 51, ../sass/style.scss */
#logo-container .logo {
  background-color: #FBA1A1;
  padding: 10px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
/* line 59, ../sass/style.scss */
#logo-container .logo-title {
  font-family: "Over the Rainbow", cursive;
  font-size: 40px;
  display: inline-block;
  vertical-align: middle;
  color: #a593c2;
  text-transform: capitalize;
}

/*
  nav component
*/
/* line 76, ../sass/style.scss */
#navigation-menu a {
  color: #757575;
}
/* line 80, ../sass/style.scss */
#navigation-menu .page-logo {
  background-color: lightcoral;
  border-radius: 50%;
  padding: 10px;
}

/* line 87, ../sass/style.scss */
.container-custom {
  position: absolute;
  width: 100%;
  heigh: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
  font-family: "Architects Daughter", cursive;
}
/* line 97, ../sass/style.scss */
.container-custom p {
  font-size: 20px;
}
/* line 101, ../sass/style.scss */
.container-custom a {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #F48FB1;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 5px;
}
/* line 111, ../sass/style.scss */
.container-custom a:after {
  content: '';
  position: absolute;
  background: #F48FB1;
  height: 2px;
  width: 0%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  transition: .35s ease;
}
/* line 122, ../sass/style.scss */
.container-custom a:hover:after, .container-custom a:focus:after, .container-custom a:active:after {
  width: 100%;
}

/* line 130, ../sass/style.scss */
h1 {
  position: relative;
  text-align: center;
  font-family: "Architects Daughter", cursive;
}

/* line 136, ../sass/style.scss */
.button_container {
  position: fixed;
  top: 50px;
  right: 30px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}
/* line 146, ../sass/style.scss */
.button_container:hover {
  opacity: .7;
}
/* line 151, ../sass/style.scss */
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
/* line 155, ../sass/style.scss */
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
/* line 160, ../sass/style.scss */
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
/* line 166, ../sass/style.scss */
.button_container span {
  background: #F48FB1;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
/* line 177, ../sass/style.scss */
.button_container span:nth-of-type(2) {
  top: 11px;
}
/* line 181, ../sass/style.scss */
.button_container span:nth-of-type(3) {
  top: 22px;
}

/* line 187, ../sass/style.scss */
.overlay {
  position: fixed;
  background: #F48FB1;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
/* line 199, ../sass/style.scss */
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
/* line 204, ../sass/style.scss */
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
/* line 208, ../sass/style.scss */
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
/* line 211, ../sass/style.scss */
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
/* line 214, ../sass/style.scss */
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
/* line 219, ../sass/style.scss */
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  text-align: center;
  padding-top: 75px;
}
/* line 230, ../sass/style.scss */
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
/* line 238, ../sass/style.scss */
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
/* line 246, ../sass/style.scss */
.overlay ul li a {
  font-size: 1em;
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
/* line 254, ../sass/style.scss */
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
/* line 260, ../sass/style.scss */
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
